body {
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.upper-header {
    display: flex;
    justify-content: space-between;
}

.lower-header {
    display: flex;
    align-items: center;
}

.random-info {
    display: flex;
}

button {
    background: #3882f6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 20px;
}

