body {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    margin: 0;
    text-align: center;
}

header, footer{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1f2937;
    margin: 0;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 100px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.lower-header {
    display: flex;
    padding: 50px 100px;
    text-align: left;
}

.hero-statement{
    margin: auto;
}
 
.hero-img {
    height: 200px;
    width: 300px;
    object-fit: fill;
    margin-left: 50px;
}

.main-top {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.some {
    padding-bottom: 50px;
}

.cards {
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: auto;
}

.img {
    height: 100px;
    width: 100px;
    object-fit:cover ;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.main-middle {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote-credit {
    margin-left: auto;
    margin-right: 0;
}